$color : #073242;

body{
    background-color: $color 

}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
.menuPrincipal{
    background-color: #4BD095;
    display: block;
}
.menuOptions{
    list-style: none;
}

